# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite3

# Byte-compiled / optimized / DLL files
*.so
